<% unless flash[:killed_cat] %>
  <h1>Sign Up to Rent Your Cat!</h1>
<% else %>
  <div class="cat-killer-box">
    <p class="cat-killer-msg">You killed <span class="murder"><%= flash[:killed_cat] %></span> :( </p>
    <img src="http://akns-images.eonline.com/eol_images/Entire_Site/201467/rs_560x415-140707115516-560.Purrmanently-Sad-Cat-kitten.ls.7814.jpg"></a>
  </div>
<% end %>

  <div class="errors"><%= render 'shared/errors' %></div>
<!-- <%# end %> -->
<div class="signup-body">
  <div class="">

  </div>
  <form class="form" action="<%= users_url %>" method="post">
    <label for="username">Enter Username:</label>
    <input id="username" type="text" name="user[username]" value="">

    <label for="password">Enter Password:</label>
    <input id="password" type="password" name="user[password]" value="">

    <label for="abuser">Which cat do you want to abuse?</label>
    <select name="user[cat_kill_id]">
      <option value="">I swear I'm not an abuser!</option>
      <% Cat.all.each do |cat| %>
        <option value="<%= cat.id %>"><%= cat.name %></option>
      <% end %>
    </select>
    <input type="submit" name="" value="Rent Cat Now!">
  </form>

  <%= image_tag("cat_banner.jpg") %>
</div>
